 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>О себе</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
<p>Уважаемые заказчики!
<br />Меня зовут <strong>Денисов Феликс Евгеньевич</strong>.
<br>
<br />Предлагаю работать дистанционно, – так, как делает весь мир.
<br>
<br />Я умею разрабатывать:
<br />&emsp;&#9679; технические задания, технические условия;
<br />&emsp;&#9679; 3D-модели и рабочие чертежи (пресс-форм, штампов, оснастки, гидро-, пневмо- и электросхемы, расчёты механических передач, расчёты на прочность);
<br />&emsp;&#9679; паспорта и руководства по эксплуатации, каталоги;
<br />&emsp;&#9679; обоснования безопасности, программы и методики испытаний.
<br>
<br />Имею опыт проведения сертификации выпускаемой продукции, в том числе взрывозащищённой.
<br />Имею обширный опыт работы по кооперации как в роли подрядчика, так и в роли заказчика.
</div>
</div>
    </section>