 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>О себе</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
<p>&emsp; Добрый день, бизнесмены!
<br />&emsp; Меня зовут <strong>Денисов Феликс Евгеньевич</strong>.
<br />&emsp; Моё обращение к тем, кто периодически нуждается в разработке новой продукции или конструкторско-технологическом сопровождении имеющейся. У меня достаточный опыт разработок и мне нет необходимости целый день сидеть в офисе. Проживаю я в середине пути Москва-СПб и при необходимости могу приехать, скажем, в пятницу, - сдать задание и взять новое.
<br />&emsp; Я умею разрабатывать:
<br /> &emsp;&emsp;&#9679; технические задания, технические условия;
<br /> &emsp;&emsp;&#9679; 3D-модели и рабочие чертежи (пресс-форм, штампов, оснастки, гидро-, пневмо- и электросхемы, расчёты механических передач, расчёты на прочность);
<br /> &emsp;&emsp;&#9679; паспорта и руководства по эксплуатации, каталоги;
<br /> &emsp;&emsp;&#9679; обоснования безопасности, программы и методики испытаний.
<br /> &emsp;Имею опыт проведения сертификации выпускаемой продукции, в том числе взрывозащищённой.
<br /> &emsp;Имею обширный опыт работы по кооперации как в роли подрядчика, так и в роли заказчика.
<br /> &emsp;Обладаю навыками переговоров, в том числе по разрешению проблем, связанных с качеством продукции; сотрудничал со СМИ.
<br /> &emsp;Я принципиально не работаю на студентов.</p>
            </div>
        </div>
    </section>