<!-- Contact Section -->

<section id="contact">
<!-- thats a bad way, i know> -->
	<div class="container" style="height: 500px;">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Контакты</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<br>
			<p><img width="3%" src="/img/phone-icon.png"> <img src="/img/phone.png"></p>
			<p><img width="3%" src="/img/email-icon.png"> <a href="mailto:feliks-denisov@yandex.ru">feliks-denisov@yandex.ru</a></p>
			<p><img width="3%" src="/img/skype-icon.png"><a href="skype:feliks-evgenewich-denisov?add">feliks-evgenewich-denisov</a></p>
		</div>
	</div>
</section>
